body {
    overflow-x: hidden;
}
.menuBar {
    border-bottom: solid 1px #e8e8e8;
    overflow: auto;
    box-shadow: 0 0 30px #f3f1f1;
}
.menuBar-content {
    max-width: 80rem;
    margin: 0 auto;
}
.center {
    display:flex;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 150px;
    float: left;
}

.logo a {
    display: inline-block;
    font-size: 20px;
    padding: 19px 20px;
    text-transform: capitalize;
}

.menuCon {
    width: calc(100% - 150px);
    float: left;
}

.menuCon .ant-menu-item {
    padding: 0px 5px;
}

.menuCon .ant-menu-submenu-title {
    padding: 10px 20px;
}

.menuCon .ant-menu-item a, .menuCon .ant-menu-submenu-title a {
    padding: 10px 15px;
}

.menuCon .ant-menu-horizontal {
    border-bottom: none;
}

.menuCon .leftMenu {
    float: left;
}

.menuCon .rightMenu {
    float: right;
}

.barsMenu {
    float: right;
    height: 100%;
    padding: 6px;
    margin-top: 8px;
    display: none;
    background: none;
}

.ant-drawer-body {
    padding: 0;
}

.ant-drawer-body .ant-menu-horizontal>.ant-menu-item, .ant-drawer-body .ant-menu-horizontal>.ant-menu-submenu {
    display: inline-block;
    width: 100%;
}

.ant-drawer-body .ant-menu-horizontal {
    border-bottom: none;
}

.ant-drawer-body .ant-menu-horizontal>.ant-menu-item:hover {
    border-bottom-color: transparent;
}

.barsMenu {
    display: none;
}

.container {
    max-width: 80rem;
    min-height: calc(100vh - 77px);
    margin:0 auto;
}

.form {
    min-width: 30rem;
}

@media (max-width: 767px) {
    .menuBar {
        padding: 0 20px;
    }
    .barsMenu {
        display: inline-block;
    }
    .leftMenu, .rightMenu {
        display: none;
    }
    .logo a {
        margin-left: -20px;
    }
    .menuCon .ant-menu-item, .menuCon .ant-menu-submenu-title {
        padding: 1px 20px;
    }
    .logo a {
        padding: 10px 20px;
    }
    .container {
        min-height: calc(100vh - 55px);
    }
    .form {
        padding: 1rem;
        min-width: 20rem;
    }
}